table,
tr,
th,
td,
caption {
    border: 1px solid #eee;
    border-collapse: collapse;
    padding: 0.5rem;
}
#site-title {
    font-size: 30px;
}
time {
    font-style: italic;
}
footer,
header {
    text-align: center;
}